ion-card#cardSpec {
    font-size: 18px;
}

.toast-succ {
    .toast-message {
        background-color: rgb(125, 197, 103);
    }
}

.toast-fail {
    .toast-message {
        background-color: red;
    }
}