table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td{
    border: 1px solid #606060;
    padding: 6px;
    text-align: center;
}

table#tabelaspec th{
    border: 1px solid #606060;
    padding: 6px;
    text-align: center;
}