<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">
      Cadastrar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
    <div style="text-align: center;" *ngIf="vegetais">
      <button id="buttonBomba" ion-button (click)="criarVegetalPagina(vegetais)">NOVO VEGETAL</button>
    </div>
  <br>
  
  <ion-row>
    <ion-col id="colSpec">
      <h4>Vegetais</h4>
      <ion-card>
       <ion-item *ngFor="let item of vegetais">
        <ion-label>{{item.nome}}</ion-label>
        <button ion-button outline item-end (click)="alterarVegetalPagina(item)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button outline item-end (click)="limpaVegetal(item.nome)">
          <ion-icon id="butDelete" name="md-trash" color="danger"></ion-icon>
        </button>
       </ion-item>
      </ion-card>
    </ion-col>

    <ion-col id="colSpec">
      <h4>Vasos</h4>
      <ion-card>
       <ion-item *ngFor="let item of vasos">
        <ion-label>Vaso {{item.id}}: {{item.vegetal}}</ion-label>
        <button ion-button outline item-end (click)="alterarVasoPagina(item)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button outline item-end (click)="limpaVaso(item)">
          <ion-icon id="butDelete" name="md-trash" color="danger"></ion-icon>
        </button>
       </ion-item>
      </ion-card>
    </ion-col>

  </ion-row>
  
</ion-content>
