ion-col#colSpec h4 {
    text-align: center;
}

button#buttonBomba {
    background-color: rgb(125, 197, 103);
}

.toast-limpa {
    .toast-message {
        background-color: orange;
    }
}

.toast-erro-vegetal {
    .toast-message {
        background-color: red;
    }
}
